* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles for common properties */
:root {
  --body-color: #fed0c1;
}

body {
  position: relative; /* Set the body as relative */
  min-height: 300vh; /* Full viewport height */
  background-color: var(--body-color);
}

.registration-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: px;
}

/* Registration.css */
.registration-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.registration-form div {
  margin-bottom: 0.5rem;
}

.foot {
  position: absolute; /* Absolute positioning */
  left: 0;
  right: 0;
  bottom: 0; /* Stick to the bottom */
  padding: 20px;
  text-align: center;
  background-color: var(--primary-background-color);
  color: var(--text-color);
}
