.dashboard {
  display: flex;
}

.admin-panel {
}

.content {
  margin-left: 0;
  transition: margin-left 0.3s ease;
  padding: 20px;
  flex-grow: 1;
  background-color: #fed0c1;
  height: 100vh;
}

.content.expanded {
  margin-left: 250px; /* Adjust according to sidebar width */
}
